server:
    port: 8080
    servlet:
        encoding:
            charset: UTF-8
            enabled: true
            force: true
            force-request: true
            force-response: true
        context-path: /y9demo-cache
spring:
    application:
        name: y9demo-cache
    autoconfigure:
        exclude:
            - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
            - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
    cache:
        redis:
            time-to-live: PT2H
        type: redis
    data:
        jpa:
            repositories:
                bootstrap-mode: default
                enabled: false
        redis:
            database: 8
            host: localhost
            password: 111111
            port: 6379
            timeout: 10000
            lettuce:
                pool:
                    max-active: 8
                    max-idle: 8
                    max-wait: -1
                    min-idle: 0
                shutdown-timeout: 100ms
            ssl:
                enabled: false
            repositories:
                enabled: false
    datasource:
        hikari:
            y9-public:
                driver-class-name: com.mysql.cj.jdbc.Driver
                jdbcUrl: jdbc:mysql://localhost:3306/y9_public?serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true&useUnicode=true&characterEncoding=utf-8&rewriteBatchedStatements=true&useCompression=true&useSSL=false
                username: root
                password: '111111'
                maximumPoolSize: 20
                minimumIdle: 1
    jpa:
        generate-ddl: true
        hibernate:
            ddl-auto: update
            naming:
                implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyHbmImpl
                physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        open-in-view: false
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL8Dialect
                jdbc:
                    batch_size: 100
                show_sql: true
y9:
    systemName: y9demo-cache
    systemCnName: '缓存测试'
    common:
        cacheEnabled: true
    feature:
        jpa:
            packagesToScanEntityPublic: net.risesoft.example.entity
            packagesToScanRepositoryPublic: net.risesoft.example.repository
