/*步骤条开始*/
.step-container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.step-container li {
	display: inline-block;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	width: 33%;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-align: center;
	background-color: #00a2ca;
	color: #ffffff;
}

.step-container li.step-past {
	background-color: #00a2ca;
	width: 34%;
}

.step-container li.step-current {
	background-color: #00a2ca;
}

.arrow {
	position: absolute;
	right: -7.5px;
	height: 30px;
	background-color: #ffffff;
	z-index: 2;
}

.arrow span {
	display: inline-block;
	border-left: 15px solid transparent;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}

.arrow-next {
	margin-left: -15px;
}

.arrow-past .arrow-pre {
	border-left: 15px solid #00a2ca;
}

.arrow-past .arrow-next {
	border-top: 15px solid #00a2ca;
	border-bottom: 15px solid #00a2ca;
}

.arrow-current .arrow-pre {
	border-left: 15px solid #00a2ca;
}

.arrow-current .arrow-next {
	border-top: 15px solid #00a2ca;
	border-bottom: 15px solid #00a2ca;
}
/*步骤条结束*/