@media screen and (max-width: 1290px) {
    body .logo {
        top: 8px;
        left: 20px;
    }

    body .logo img {
        height: 80px;
    }

    body .login {
        margin-right: 0px;
        width: 304px;
    }

    body .login_form {
        padding-right: 23px;
    }

    body .login_form .login_title, body .login_form .login_fields .login_dev {
        width: 275px;

    }

    body .login_form .login_title {
        margin-bottom: 30px;

    }

    body .login_fields input[type="text"], body .login_fields input[type="password"] {
        width: 178px;
    }

}

@media screen and (max-width: 1399px) {

    body .login {
        margin-right: 0px;
        width: 428px;
    }

    body .login_form {
        margin-top: 30%;
    }

    body .login_form .login_title {
        margin-bottom: 40px;

    }
}

@media screen and (min-width: 1399px) and (max-width: 1590px) {

    body .login {
        margin-right: 10px;
        width: 440px;
    }


}

@media screen and (min-width: 1590px) and (max-width: 1890px) {
    body .bg_top_right {
        height: 240px;
    }
}

@media screen and (min-width: 1670px) and (max-width: 1890px) {
    body .bg_top_right {
        height: 260px;
    }

    body .login_form {
        margin-top: 80%;
    }
}

@media screen and (min-width: 2040px) {
    body .login_form {
        margin-top: 80%;
    }
}

