@media screen and (max-width: 1290px) {
    body .logo {
        top: 8px;
        left: 20px;
    }

    body .logo img {
        height: 80px;
    }

    body .login {
        margin-right: 0px;
        width: 400px;
    }

    body .login_form {
        padding-right: 23px;
    }

    body .login_form .login_title {
        margin-bottom: 20px;

    }

    body .login_fields__user, body .login_fields__password {
        padding-bottom: 20px;
    }

    body .login_fields input[type="text"], body .login_fields input[type="password"] {
        /*width: 178px;*/
    }

}

@media screen and (max-width: 1399px) {

    body .login {
        margin-right: 0px;
        width: 428px;
    }

    body .login_form {
        margin-top: 30%;
    }

    body .login_form .login_title {
        margin-bottom: 30px;

    }
}

@media screen and (min-width: 1399px) and (max-width: 1590px) {

    body .login {
        margin-right: 10px;
    }

    body .login_form {
        margin-top: 48%;
    }

}

@media screen and (min-width: 1590px) and (max-width: 1890px) {
    body .login_form {
        margin-top: 55%;
    }
}

@media screen and (min-width: 1670px) and (max-width: 1890px) {
    body .login_form {
        margin-top: 75%;
    }
}

@media screen and (min-width: 2040px) {
    body .login_form {
        margin-top: 620px;
    }
}

