html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image: url(img/background.png);
    background-size: 100% 100%;
    z-index: 1;
    font-size: 75%;
    font-family: "宋体";
}

body input {
    outline: 0px;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li {
    list-style: none;
}

.inline {
    display: inline-block;
}

.text {
    text-align: center;
    vertical-align: middle;
}

.yellowFont {
    color: #FFB205;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wrap {
    min-height: 100%
}

.mainContent {
    padding-bottom: 31px;
    overflow: hidden;
}

header {
    width: 100%;
    height: 40px;
    z-index: 100;
}

header .logo {
    margin-left: 1%;
    margin-top: 9px;
    margin-bottom: 9px;
    height: 22px;
    width: 90px;
    z-index: 200;
    position: relative;
}

header span {
    margin-right: 1%;
    margin-top: 11px;
    margin-bottom: 7px;
    height: 22px;
    z-index: 200;
    font-size: 1.3em;
    color: #FFFFFF;
    font-family: "黑体";
}

header hr {
    border: 1px solid #FFFFFF;
    height: 19px;
    margin-left: 26px;
    margin-top: 10px;
    background-color: #FFFFFF;
}

header .y9 {
    width: 20px;
    height: 13px;
    margin: 13px 18px 10px 10px;
    margin-left: 26px;
    z-index: 200;
    position: relative;
}

header .zg {
    width: 20px;
    height: 20px;
    margin: 10px 18px 8px 18px;
    margin-right: calc(1% + 74px);
    z-index: 200;
    position: relative;
}

.menu {
    padding: 0px 0px 0px 0px;
    right: 1%;
    top: 11px;
    width: 50px;
    height: 28px;
    position: absolute;
    z-index: 201;
    transition: 0.5s;
    overflow: hidden;
}

.menu:hover {
    height: 200px;
    width: 123px;
}

.menu hr {
    border: 1px solid #FFFFFF;
    height: 19px;
    margin-right: 26px;
    background-color: #FFFFFF;
}

.menu_a {
    border: 1px solid transparent;
    padding-top: 0px;
}

.menu_a:hover {
    cursor: pointer;
}

.menu img {
    width: 18px;
    height: 15px;
}

.menu img:hover {
    opacity: 0.6;
}

.menu_list {
    position: absolute;
    top: 29px;
    right: 1%;
    width: 120px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.menu_list_glass {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 120px;
    height: 200px;
    background-color: #FFFFFF;
    opacity: 0.1;
    z-index: 1;
}

.menu_list_entity {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 120px;
    height: 200px;
    padding-top: 6px;
    padding-bottom: 13px;
    z-index: 300;
}

.menu_option {
    color: rgba(255, 255, 255, 0.4);
    margin-top: 5px;
    padding: 4px;
    font-size: 1em;
}

.menu_option:hover {
    color: rgba(255, 255, 255, 0.8);;
    cursor: pointer;
}

.glass {
    position: absolute;
    top: 0px;
    height: 40px;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.06);
}

hr {
    margin: 0px;
    border: none;
    border-top: 1px solid #FFFFFF;
    opacity: 0.5;
}

.sy {
    margin-top: 1px;
    width: 100%;
    position: absolute;
    top: 549px;
    left: 0px;
}

footer {
    width: 100%;
    /*position: absolute;*/
    /*clear: both;*/
    /*bottom: 0px;*/
    margin-top: -31px;
    height: 31px;
}

footer p {
    padding-top: 6px;
    padding-bottom: 8px;
    height: 16px;
    line-height: 16px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    letter-spacing: 1px;
}

footer p img {
    vertical-align: middle;
    margin-right: 6px;
    opacity: 0.5;
}

footer .footGlass {
    /*width: 100%;*/
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*height: 30px;*/
    background-color: rgba(255, 255, 255, 0.06);
    /*opacity: 0.06;*/
}

.serviceName {
    position: relative;
    width: 100%;
    height: 74px;
    line-height: 40px;
    color: #FFFFFF;
    font-size: 24px;
    letter-spacing: 26px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    font-family: "宋体";
    margin-top: 13px;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
}

.main {
    margin: auto;
    /*width: 804px;*/
    width: 910px;
    min-height: 457px;
}

.main-left {
    /*margin:46px 0px 0px 0px;*/
    margin: 20px 0px 0px 0px;
}

.tree {
    /*height: 401px;*/
    /*width: 398px;*/
    height: 525px; /*不用设置宽度 让其按比例缩放即可 比例不对会导致图上的链接定位不对*/
}

.main-right {
    margin: 76px 34px 0px 0px;
}

.title {
    width: 197px;
    height: 32px;
    border-bottom: 1px solid #fff;
    margin-bottom: 28px;
    padding-bottom: 2px;
}

.change .account {
    height: 18px;
    width: 18px;
    margin-right: 6px;
    margin-left: 4px;
    vertical-align: middle;
}

.change .refresh {
    height: 14px;
    width: 62px;
    margin-top: 1px;
    vertical-align: middle;
    font-size: 1em;
    color: #FFFFFF;
}

.change img:hover {
    cursor: pointer;
}

.change a {
    font-size: 1em;
    color: #FFFFFF;
    vertical-align: middle;
    margin-left: 6px;
}

.change a:hover {
    color: #ffb205;
    cursor: pointer;
}

.mention {
    border: 1px solid #FFB205;
    height: 16px;
    padding: 2px;
    color: #FFB205;
    font-size: 0.8em;
    width: 64px;
    line-height: 16px;
    vertical-align: middle;
    border-radius: 3px;
    display: none;
}

.mention1 {
    border: 1px solid #FFB205;
    height: 16px;
    padding: 2px;
    color: #FFB205;
    font-size: 0.8em;
    width: 64px;
    line-height: 16px;
    vertical-align: middle;
    border-radius: 3px;
    display: none;
}

.passTrans {
    display: none;
    width: 32px;
    height: 32px;
    margin-left: 5px;
}

.doubleCode {
    width: 32px;
    height: 32px;
    margin-left: 5px;
}

#switch {
    display: block;
}

#switch1 {
    display: none;
}

.em {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 9px solid #FFB205;
    border-bottom: 6px solid transparent;
    margin-top: 6px;
    top: 50%;
    background-color: transparent;
}

.username {
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    height: 24px;
    margin-bottom: 24px;
}

.username .userGlass {
    position: absolute;
    background-color: #FFFFFF;
    height: 26px;
    width: 195px;
    top: 0px;
    opacity: 0.05;
    z-index: 1;
}

.username img {
    position: relative;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
    padding: 3px;
}

.username input {
    position: relative;
    display: inline-block;
    width: 166px;
    line-height: 24px;
    height: 24px;
    background-color: transparent;
    border: 0px;
    color: #FFFFFF;
    vertical-align: middle;
    z-index: 100;
}

.password {
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    height: 24px;
    margin-bottom: 24px;
    z-index: 100;
}

.password .passGlass {
    position: absolute;
    background-color: #FFFFFF;
    height: 26px;
    width: 195px;
    top: 0px;
    opacity: 0.05;
    z-index: 1;
}

.password img {
    position: relative;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
    padding: 3px;
    z-index: 100;
}

.password input {
    position: relative;
    display: inline-block;
    width: 166px;
    line-height: 24px;
    height: 24px;
    background-color: transparent;
    border: 0px;
    color: #FFFFFF;
    vertical-align: middle;
    z-index: 100;
}

.valid {
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    height: 24px;
    margin-bottom: 20px;
    width: 110px;
    z-index: 100;
}

.valid .vaildGlass {
    position: absolute;
    background-color: #FFFFFF;
    height: 26px;
    width: 110px;
    top: 0px;
    opacity: 0.05;
    z-index: 1;
}

.valid #unlock {
    position: relative;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 1px;
    vertical-align: middle;
    padding: 3px;
    padding-left: 5px;
    z-index: 100;
}

.valid input {
    position: relative;
    display: inline-block;
    width: 75px;
    line-height: 24px;
    height: 24px;
    background-color: transparent;
    border: 0px;
    color: #FFFFFF;
    vertical-align: middle;
    z-index: 100;
}

.remember {
    height: 24px;
    margin-bottom: 16px;
}

.remember input {
    background: #FFB205;
    display: inline-block;
    vertical-align: middle;
}

.remember span {
    color: #FFFFFF;
    vertical-align: middle;
    font-size: 1em;
    display: inline-block;
}

.remember a {
    color: #FFB205;
    vertical-align: middle;
    display: inline-block;
    font-size: 1em;
}

.login {
    display: block;
    width: 197px;
    height: 26px;
    background-color: #FB8904;
    color: #FFFFFF;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.3em;
    border-radius: 4px;
    text-decoration: none;
}

.login:hover {
    color: #ccc;
}

#captcha1 {
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    height: 24px;
    border: 1px soild #fff;
    outline: 0px;
}

.codeName {
    font-size: 1.2em;
    color: #FFFFFF;
    margin-bottom: 0px;
    width: 197px;
}

.codeImg {
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 120px;
    display: block;
}

.codeMention {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 0.8em;
    margin-top: 16px;
}

.scan {
    vertical-align: middle;
    height: 22px;
    width: 22px;
}

.contract input {
    vertical-align: middle;
}

.contract {
    margin-top: 14px;
    color: #FFFFFF;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto;
    width: 197px;
}

#checkbox1, #checkbox2 {
    display: none;
}

.chk + label {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.06);
    padding: 6px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    margin-right: 8px;
}

.chk + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.chk:checked + label {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.06), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #fff;
}

.chk:checked + label:after {
    content: '\2714';
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 0.5em;
    padding: 0px 0 0 0;
    vertical-align: text-top;
}

.forward-system {
    color: white;
    font-size: 20px;
    height: 60px;
}