.weather-child{
	float:left;
	width:100px;
	font-size:0.75rem;
	text-align:center;
}
.weather-date{
	font-size:1rem;
	font-weight:bold;
}
.weather-week{
	color:red;
}
.weather-icon{
	width:180px;
	height:32px;
	margin:auto;
}
.weather-positionicon{
	display:block;
	height:16px;
	width:16px;
	background:url('icons/position.png') no-repeat left top;
	float:left;
}
.weather-position{
	display:block;
	float:left;
	font-size:0.75rem;
	height:16px;
	cursor:pointer;
}
.weather-positiondiv{
	padding-left:10px;
}
.weather-positiondiv:after,.weather-showdiv:after{
	clear:both;
	content:'';
	display:block;
	width:0;
	height:0;
	visibility:hidden;
}
.weather-icon-qing{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/qing.png') no-repeat left top;
}
.weather-icon-yin{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/yin.png') no-repeat left top;
}
.weather-icon-duoyun{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/duoyun.png') no-repeat left top;
}
.weather-icon-xiaoyu{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/xiaoyu.png') no-repeat left top;
}
.weather-icon-zhongyu{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/zhongyu.png') no-repeat left top;
}
.weather-icon-dayu{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/dayu.png') no-repeat left top;
}
.weather-icon-baoyu{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/baoyu.png') no-repeat left top;
}
.weather-icon-xiaoxue{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/xiaoxue.png') no-repeat left top;
}
.weather-icon-zhongxue{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/zhongxue.png') no-repeat left top;
}
.weather-icon-daxue{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/daxue.png') no-repeat left top;
}
.weather-icon-baoxue{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/baoxue.png') no-repeat left top;
}
.weather-icon-yujiaxue{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/yujiaxue.png') no-repeat left top;
}
.weather-icon-zhenyu{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/zhenyu.png') no-repeat left top;
}
.weather-icon-leizhenyu{
	background:url('http://www.critc.cn/sso/y9static/images/zhongtie/weathericon/leizhenyu.png') no-repeat left top;
}
