<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>确认退出?</title>
    <link href="{{contextPath}}/default-ui.css" rel="stylesheet" />
</head>
<body>
<div class="content">
    <form class="logout-form" method="post" action="{{contextPath}}/logout">
        <h2>确认退出?</h2>
        <!--<input name="{{name}}" type="hidden" value="{{value}}" />-->
        <button class="primary" type="submit">退出</button>
    </form>
</div>
</body>
</html>
