# Build and Release Folders
target/
build/

# Eclipse
.settings/
*.classpath
*.factorypath
*.project

# IntelliJ IDEA
.idea
*.iml

# vscode
.vscode

# JRebel
rebel.xml

# macOS
.DS_Store

# svn
.svn/

# vue
kernel-standard/
node_modules/
/.temp-risenet-y9-classpath-arg-1690720639214.txt
