html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image: url(img/background.png);
    background-size: 100% 100%;
    z-index: 1;
    font-size: 75%;
    font-family: "宋体";
}

body input {
    outline: 0px;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li {
    list-style: none;
}

.inline {
    display: inline-block;
}

.text {
    text-align: center;
    vertical-align: middle;
}

.yellowFont {
    color: #FFB205;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.wrap {
    min-height: 100%
}

.mainContent {
    padding-bottom: 38px;
    overflow: hidden;
}

header {
    width: 100%;
    height: 60px;
    z-index: 100;
}

.glass {
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.06);
}

header .logo {
    margin-left: 1%;
    margin-top: 14px;
    margin-bottom: 10px;
    height: 34px;
    width: 130px;
    z-index: 200;
    position: relative;
}

header span {
    margin-right: 1%;
    margin-top: 16px;
    margin-bottom: 10px;
    height: 34px;
    z-index: 200;
    font-size: 22px;
    color: #FFFFFF;
    font-family: "黑体";
}

header hr {
    border: 1px solid #FFFFFF;
    height: 31px;
    margin-left: 26px;
    margin-top: 16px;
    background-color: #FFFFFF;
}

header .y9 {
    margin-top: 23px;
    margin-bottom: 17px;
    margin-left: 20px;
    margin-left: 26px;
    z-index: 200;
    position: relative;
}

header .zg {
    width: 26px;
    height: 26px;
    margin: 15px calc(1% + 84px) 13px 20px;
    z-index: 200;
    position: relative;
}

.menu {
    padding: 2px 0px 0px 0px;
    right: 1%;
    top: 12px;
    width: 62px;
    height: 47px;
    position: absolute;
    z-index: 201;
    overflow-y: hidden;
    transition: 0.5s;
}

.menu:hover {
    height: 200px;
    width: 123px;
}

.menu hr {
    border: 1px solid #FFFFFF;
    height: 31px;
    margin-right: 26px;
    background-color: #FFFFFF;
}

.menu_a {
    border: 1px solid transparent;
    padding-top: 5px;
}

.menu_a:hover {
    cursor: pointer;
}

.menu img {
    width: 28px;
    height: 21px;
}

.menu img:hover {
    opacity: 0.6;
}

.menu_list {
    position: absolute;
    top: 49px;
    right: 1%;
    width: 120px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.menu_list_glass {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 120px;
    height: 200px;
    background-color: #FFFFFF;
    opacity: 0.1;
    z-index: 1;
}

.menu_list_entity {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 120px;
    height: 200px;
    padding-top: 6px;
    padding-bottom: 13px;
    z-index: 300;
}

.menu_option {
    color: rgba(255, 255, 255, 0.4);
    margin-top: 5px;
    padding: 4px;
    font-size: 1em;
}

.menu_option:hover {
    color: rgba(255, 255, 255, 0.8);;
    cursor: pointer;
}

hr {
    margin: 1px;
    border: none;
    border-top: 1px solid #FFFFFF;
    opacity: 0.5;
}

.sy {
    margin-top: 1px;
    width: 100%;
    position: absolute;
    top: 841px;
    left: 0px;
}

footer {
    width: 100%;
    /*position: absolute;
   clear: both;
   bottom: 0px;*/
    margin-top: -38px;
    height: 38px;
}

footer .footGlass {
    /*width: 100%;*/
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*height: 36px;*/
    background-color: rgba(255, 255, 255, 0.06);
}

footer p {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 20px;
    line-height: 20px;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    letter-spacing: 1px;
}

footer p img {
    vertical-align: middle;
    margin-right: 6px;
    opacity: 0.5;
}

.serviceName {
    position: relative;
    width: 1100px;
    height: 133px;
    line-height: 73px;
    color: #FFFFFF;
    font-size: 30px;
    letter-spacing: 39px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    font-family: "宋体";
    margin-top: 40px;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
}

.main {
    margin: auto;
    /*width: 1100px;*/
    width: 1200px;
    min-height: 768px;
}

.main-left {
    margin: 80px 0px 0px 0px;
    /*margin:40px 0px 0px 0px;*/
}

.tree {
    /*height: 590px;*/
    /*width: 583px;*/
    /*height: 727px;*//*不用设置宽度 让其按比例缩放即可 比例不对会导致图上的链接定位不对*/
}

.main-right {
    margin: 160px 40px 0px 0px;
}

.title {
    width: 260px;
    height: 40px;
    border-bottom: 1px solid #fff;
    margin-bottom: 36px;
    padding-bottom: 4px;
}

.change .account {
    height: 22px;
    width: 22px;
    margin-right: 8px;
    margin-left: 5px;
    vertical-align: middle;
}

.change .refresh {
    height: 16px;
    width: 66px;
    margin-top: 3px;
    vertical-align: middle;
    font-size: 1.1em;
    color: #FFFFFF;
}

.change img:hover {
    cursor: pointer;
}

.change a {
    font-size: 1.1em;
    color: #FFFFFF;
    vertical-align: middle;
    margin-left: 6px;
}

.change a:hover {
    color: #ffb205;
    cursor: pointer;
}

.mention {
    border: 1px solid #FFB205;
    height: 18px;
    padding: 3px;
    color: #FFB205;
    font-size: 1em;
    width: 94px;
    line-height: 18px;
    vertical-align: middle;
    border-radius: 3px;
    display: none;
}

.mention1 {
    border: 1px solid #FFB205;
    height: 18px;
    padding: 3px;
    color: #FFB205;
    font-size: 1em;
    width: 94px;
    line-height: 18px;
    vertical-align: middle;
    border-radius: 3px;
    display: none;
}

.passTrans {
    display: none;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.doubleCode {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

#switch {
    display: block;
}

#switch1 {
    display: none;
}

.em {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 9px solid #FFB205;
    border-bottom: 6px solid transparent;
    margin-top: 6px;
    top: 50%;
    background-color: transparent;
}

.username {
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 36px;
    z-index: 100;
}

.username .userGlass {
    position: absolute;
    background-color: #FFFFFF;
    height: 30px;
    width: 260px;
    top: 0px;
    opacity: 0.05;
    z-index: 1;
}

.username img {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    padding: 5px;
    z-index: 100;
}

.username input {
    position: relative;
    display: inline-block;
    width: 220px;
    line-height: 30px;
    height: 30px;
    background-color: transparent;
    border: 0px;
    color: #FFFFFF;
    vertical-align: middle;
    z-index: 100;
}

.password {
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 36px;
    z-index: 100;
}

.password .passGlass {
    position: absolute;
    background-color: #FFFFFF;
    height: 30px;
    width: 260px;
    top: 0px;
    opacity: 0.05;
    z-index: 1;
}

.password img {
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    padding: 5px;
    z-index: 100;
}

.password input {
    position: relative;
    display: inline-block;
    width: 220px;
    line-height: 30px;
    height: 30px;
    background-color: transparent;
    border: 0px;
    color: #FFFFFF;
    vertical-align: middle;
    z-index: 100;
}

.valid {
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 24px;
    width: 150px;
    z-index: 100;
}

.valid .vaildGlass {
    position: absolute;
    background-color: #FFFFFF;
    height: 30px;
    width: 150px;
    top: 0px;
    opacity: 0.05;
    z-index: 1;
}

.valid #unlock {
    position: relative;
    height: 19px;
    width: 19px;
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
    padding: 6px;
    padding-left: 8px;
    z-index: 100;
}

.valid input {
    position: relative;
    display: inline-block;
    width: 105px;
    line-height: 30px;
    height: 30px;
    background-color: transparent;
    border: 0px;
    color: #FFFFFF;
    vertical-align: middle;
    z-index: 100;
}

.remember {
    height: 30px;
    margin-bottom: 16px;
}

.remember input {
    background: #FFB205;
    display: inline-block;
    vertical-align: middle;
}

.remember span {
    color: #FFFFFF;
    vertical-align: middle;
    font-size: 1.1em;
    display: inline-block;
}

.remember a {
    color: #FFB205;
    vertical-align: middle;
    display: inline-block;
    font-size: 1.1em;
}

.login {
    display: block;
    width: 260px;
    height: 36px;
    background-color: #FB8904;
    color: #FFFFFF;
    line-height: 36px;
    vertical-align: middle;
    font-size: 20px;
    border-radius: 4px;
    text-decoration: none;
}

.login:hover {
    color: #ccc;
}

#captcha1 {
    vertical-align: middle;
    width: 100px;
    height: 30px;
    border: 1px soild #fff;
}

.codeName {
    font-size: 1.3em;
    color: #FFFFFF;
    margin-bottom: 0px;
    width: 260px;
}

.codeImg {
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    width: 160px;
    display: block;
}

.codeMention {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 1.1em;
    margin-top: 20px;
}

.scan {
    vertical-align: middle;
    height: 26px;
    width: 26px;
}

.contract input {
    vertical-align: middle;
}

.contract {
    margin-top: 16px;
    color: #FFFFFF;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
}

#checkbox1, #checkbox2 {
    display: none;
}

.chk + label {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.06);
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

.chk + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.chk:checked + label {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.06), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #fff;
}

.chk:checked + label:after {
    content: '\2714';
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    padding: 0px 0 0 0;
    vertical-align: text-top;
}

.forward-system {
    color: white;
    font-size: 20px;
    height: 60px;
}