<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="y9.autoconfiguration" level="DEBUG"/>
    <logger name="net.risesoft" level="DEBUG"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache.catalina.startup.Catalina" level="INFO"/>
    <logger name="org.jasig.cas" level="debug"/>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
