* {
	margin: 0px;
	padding: 0px;
}

html, body {
	/*width: 1920px;*/
	/*height: 1080px;*/
	margin: 0;
	padding: 0;
}

body {
	background: url(img/ditu.jpg ) top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

body, button, input, txt {
	font-family: "Microsoft YaHei", "Hiragino Sans GB";
}

button, input, select, textarea {
	outline: 0;
}

.head {
	/*background-color: rgba(204, 225, 25, 0.4) !important;*/
	height: 73px;
	/*width: 1920px;*/
	border-bottom: solid 1px #e6e6e6;
	/*border-top: solid 1px #E6E6E6;*/
}

.logo {
	width: 60px;
	height: 60px;
	margin-top: 10px;
	margin-left: 30px;
}

.topss {
	position: absolute;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 25px;
}

.container {
	width: 100%;
	/*width: 1920;*/
	/*height: 969px;*/
	/*background-color: rgba(204, 65, 255, 0.4) !important;*/
	display: flex;
	align-items: center;
	/*  justify-content: center; */
}

.inside {
	width: 750px;
	height: 48%;
	padding-top: 7%;
	margin-left: auto;
	margin-right: auto;
	/*text-align:center*/
	/*margin-top: 205.5px;
	margin-left: 588px;*/
}

.ss {
	margin: 0px auto;
	text-align: center;
	position: fixed;
	bottom: 0;
	height: 38px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.12) !important;
}

.footer {
	padding-top: 7px;
}

.form-item {
	/*background-color: rgba(204, 225, 255, 0.4) !important;*/
	width: 343px;
	height: 39px;
}

.form-itemss {
	/*background-color: rgba(204, 225, 255, 0.4) !important;*/
	width: 343px;
	height: 39px;
}

.form-itemspan {
	background-color: rgba(204, 225, 255, 0.4) !important;
	width: 175px;
	height: 39px;
}

.za {
	margin-left: 10px;
	margin-bottom: 5px;
}

.ztt {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 35px;
	padding-right: 10px;
	padding-left: 4px;
}

.ztts {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 35px;
}

.yans {
	background-color: rgba(204, 225, 255, 0.4) !important;
}

.yanimg {
	width: 120px;
	margin-right: 15px;
}

.form-items {
	width: 50%;
	font-size: 18px;
}

.cb {
	width: 175px;
	height: 51px;
}

.fengefu {
	/*float: left;*/
	/*text-align:center*/
	margin: auto;
	left: 0;
	right: 29px;
	position: absolute;
	/*margin-left: -14.5px;*/
	width: 29px;
	height: 352px;
	/*padding-left: 21px;*/
	/*padding-right: 50px;*/
	/*background-color: rgba(204, 235, 255, 0.4) !important;*/
}

.leftbox {
	width: 50%;
	height: 100%;
	float: left;
	/*background-color: rgba(204, 25, 255, 0.4) !important;*/
}

.rightbox {
	width: 50%;
	height: 100%;
	float: left;
	/*background-color: rgba(204, 155, 255, 0.4) !important;*/
}
/*.fengefu{
	height: 260px;
	width: 20px;
	float: left;
	margin-left: -20px;
}*/
/*.lbox{
    float: right;
	padding-right: 6.5%;
	margin-top: 15px;
	border-right: solid 1px #e6e6e6;
	
}
.rbox{
     float: left;
     padding-left: 6.5%;
     margin-top: 15px;
}*/
.lbox {
	/*padding-right: 21px;*/
	padding-right: 50px;
	float: right;
	margin-top: 36.5px;
}

.rbox {
	margin-top: 36.5px;
	padding-left: 50px;
	float: left;
}

.yzm {
	width: 100px;
	height: 30px;
	margin-top: 6px;
}

.input-tip {
	height: 11px;
}

.fd {
	position: absolute;
	background-color: #fc0;
	display: -moz-inline-box;
	display: inline-block;
	width: 175px;
	height: 39px;
	margin-bottom: 10px;
}

.fds {
	float: right;
	text-align: center;
	line-height: 43px;
}

.aa {
	float: right;
	text-decoration: none
}

.btn-register {
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #FFAA33;
	border: 0;
	font-size: 16px;
	font-family: "Microsoft YaHei", "Hiragino Sans GB";
}

.btn-register:hover {
	background-color: rgba(12, 170, 226, 0.54);
}

.btn-login {
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #00AA00;
	border: 0;
	font-size: 16px;
	font-family: "Microsoft YaHei", "Hiragino Sans GB";
}

.btn-login:hover {
	background-color: rgba(12, 170, 226, 0.54);
}

.yj {
	/*padding:5px;*/
	/* width:300px; height:100%;*/
	/*border: 1px solid #E6E6FA;*/
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 30px;
}

.txts {
	position: absolute;
	margin-bottom: 5px;
}

label {
	display: inline;
	margin-top: 12px;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox+label {
	background-color: rgba(250, 250, 250, 0.4);
	border: 0px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05);
	padding: 7px;
	border-radius: 10px;
	display: inline-block;
	position: relative;
}

.regular-checkbox+label:active, .regular-checkbox:checked+label:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px
		rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked+label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #99a1a7;
}

.regular-checkbox:checked+label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -3px;
	left: 3px;
	color: #99a1a7;
}

.zt {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 21px;
	padding-bottom: 21px;
}

.yanse {
	color: whitesmoke;
}

.tz {
	font-size: 24px;
	padding-bottom: 21px;
}

.field {
	border: 0 none;
	background-color: rgba(12, 170, 226, 0);
}

/* select框 */
ul.ui-widget {
	width: 178px;
	background-color: white;
}