<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>关注公众号</title>
    <script type="text/javascript" language="javascript" th:src="@{/y9static/js/jquery/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/y9static/js/jquery/jquery.cookie.js}"></script>

    <link type="text/css" rel="stylesheet" th:href="@{/y9static/css/modifyPassword/modifyPassword.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/y9static/css/modifyPassword/checkLoginName.css}"/>
</head>
<body>
<h1><img th:src="@{/y9static/images/login/LOGO.png}"></h1>
<div style="margin-top:50px;text-align: center;">
    <img th:src="@{/y9static/images/login/erweima.png}" width="200" height="200" align="middle"/>
</div>
<div style="margin-top:10px;text-align: center;">
    <span style="font-size: 14px;color: white;">打开微信扫描二维码，点击关注</span>
</div>
<div class="jianyi">
    <span>版权所有 北京有生博大软件股份有限公司  建议IE9浏览器、1366*768分辨率及以上浏览器和分辨率浏览本网</span><br>
</div>
</body>
</html>