<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>微信扫码登录</title>

    <script type="text/javascript" language="javascript" th:src="@{/y9static/js/jquery/jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/y9static/js/jquery/jquery.cookie.js}"></script>

    <link type="text/css" rel="stylesheet" th:href="@{/y9static/css/modifyPassword/modifyPassword.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/y9static/css/modifyPassword/checkLoginName.css}"/>
</head>
<body>
<h1><img style="width: 350px;height: 50px;" th:src="@{/y9static/images/login/LOGO.png}"></h1>
<div align="center" style="margin-top: 25px;font-size: 16px;">当前登录账号：<span th:text="${user}"></span></div>
<div align="center" style="margin-top: 15px;font-size: 20px;"><span th:text="${info}"></span></div>
<div class="jianyi" style="margin-top: 50px;">
    <span>版权所有 北京有生博大软件股份有限公司  建议IE9浏览器、1366*768分辨率及以上浏览器和分辨率浏览本网</span><br>
</div>
</body>
</html>